{% extends 'myapp1/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}

{% block body %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.title}}</td>
                    <td>{{order.product.prize}}</td>
                    <td>{{order.quantity}}</td>
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>

{% endblock body %} 